@model IEnumerable<ProjetoCinema.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerenciador de Salas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeAssentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeAssentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark"asp-route-id="@item.SalaId">Editar</a> |
                <a asp-action="Details" class="btn btn-light" asp-route-id="@item.SalaId">Detalhes</a> |
                <a asp-action="Delete " class="btn btn-danger" asp-route-id="@item.SalaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
