@model ProjetoCinema.Models.Sessao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sessao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSessao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSessao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.SalaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
