@model IEnumerable<ProjetoCinema.Models.Compra>


@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Nova Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeiaEntrada)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessao.NumeroSessao)
            </th>
            
            

            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeiaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sessao.NumeroSessao)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.CompraId">Editar</a> |
                <a asp-action="Details" class="btn btn-light" asp-route-id="@item.CompraId">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CompraId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

